body{
    background-image: url(./Assets/background.png);
    text-align: center;
    color: white;
    background-size: cover;
    }
    
    canvas{
    background-color: #dbab91;
    }
    
    .button{
    margin: 25px;
    }